@using Twitter_Tweet_Tracker_Web.Models
@{
    TTTUser user = (TTTUser)ViewBag.user;
}

@*axios library*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<div class="row mt-2">
    @*<div id="loader" class="loader-background">
        <div class="loader"></div>
    </div>*@
    <div class="col-12 col-lg-3">
        <div class="text-center card-box">
            <div class="member-card pt-2 pb-2">
                <div class="thumb-lg member-thumb mx-auto">
                    <img src="@user.profileImage" class="rounded-circle img-thumbnail" alt="profile-image">
                </div>
                <div class="">
                    <h4>@user.name</h4>
                    <p class="text-muted">
                        <span>| </span>
                        <span>
                            <a href="#" class="text-pink">@@@user.username</a>
                        </span>
                    </p>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="mt-1">
                            <h4>@user.tweet_count</h4>
                            <p class="mb-0 text-muted">Tweets</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mt-1">
                            <h4>@user.followers_count</h4>
                            <p class="mb-0 text-muted">Followers</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="mt-1">
                            <h4>@user.following_count</h4>
                            <p class="mb-0 text-muted">Following</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-12 col-md-6">

        @*
                <div class="row mb-2">
                <div class="text-center m-auto">Subjectivity Bar</div>
            </div>

            <div class="row mb-2">
                <div class="col p-1">
                    <div class="progress justify-content-end ">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col p-1">
                    <div class="progress ">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        *@

        <div class="row mb-2">
            <div class="col-12 col-md-6 mb-2">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Recent Tweets</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-2">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title">Recent Retweets</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>


    <div class="col-12 col-md-3">
        <div class="col-12">
            <canvas id="myChart-1" width="300" height="300"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-3">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">Most Used Words</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-md-4 mb-2">
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title">Recent Replies</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
    </div>

    <div class="col-12 col-md-4">
        <canvas id="myChart-2" width="500" height="300">
            loading..
        </canvas>
    </div>
</div>

@*radar chart code*@
<script type="text/javascript" async="true">
    window.onload = () => {
        axios.post('/engine/analyzeprofile',
            {
                userId: '@(user?.user_id)'
            }).then((res) => {
            console.log(res.data);
            document.getElementById('loader').classList.add('d-none');
            const ctx = document.getElementById(`myChart-1`).getContext('2d');
            const myChart = new Chart(ctx,
                {
                    type: 'radar',
                    data: {
                        labels: [
                            'Anger',
                            'Anticipation',
                            'Disgust',
                            'Fear',
                            'Joy',
                            'Sadnaess',
                            'Surprise',
                            'Trust',
                        ],
                        datasets: [
                            {
                                label: 'Personality Scoring',
                                data: [res?.data?.overallResults?.anger, res?.data?.overallResults?.anticipation, res?.data?.overallResults?.disgust, res?.data?.overallResults?.fear, res?.data?.overallResults?.joy, res?.data?.overallResults?.sadness, res?.data?.overallResults?.surprise, res?.data?.overallResults?.trust],
                                fill: true,
                                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                borderColor: 'rgb(54, 162, 235)',
                                pointBackgroundColor: 'rgb(54, 162, 235)',
                                pointBorderColor: '#fff',
                                pointHoverBackgroundColor: '#fff',
                                pointHoverBorderColor: 'rgb(54, 162, 235)'
                            }
                        ]
                    },
                    options: {
                        elements: {
                            line: {
                                borderWidth: 3
                            }
                        }
                    }
                });
        });

        const ctx = document.getElementById(`myChart-2`).getContext('2d');
        const myChart = new Chart(ctx,
            {
                type: 'line',
                data: {
                    labels: [
                        'Anger',
                        'Anticipation',
                        'Disgust',
                        'Fear',
                        'Joy',
                        'Sadnaess',
                        'Surprise',
                        'Trust',
                    ],
                    datasets: [
                        {
                            label: 'My First Dataset',
                            data: [65, 59, 80, 81, 56, 55, 40],
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                        },
                        {
                            label: 'My Second Dataset',
                            data: [100, 78, 23, 61, 75, 89, 31],
                            fill: false,
                            borderColor: 'rgb(255, 248, 220)',
                            tension: 0.1
                        }
                    ]
                },
                options: {
                    elements: {
                        line: {
                            borderWidth: 3
                        }
                    }
                }
            });
    }
</script>